*{
    margin: 0;
    font-family: "Barlow", sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    background-color: #fff;
}
header{
    width: 100%;
    height: 100px;
    background-color: red;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    display: none;
}
.container{
    padding-top: 100px;
    text-align: center;
}

.container-banner{
    background-color: #ECEFF1;
    padding: 10px;
}
.container-banner a{
    font-size: 14px;
    font-weight: 700;
}
.list-shop{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px;
    gap: 5px;
}
.advertisement-shop{
    background-color: #000000;
    width: 300px;
    height: 300px;
    color: #fff;
     box-shadow: 0px 2px 3px rgba(203, 190, 190, 0.3);
}
.advertisement{
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 35px;
    padding: 15px;
}
.advertisement h2{
    font-size: 30px;
}
.advertisement p{
    font-size: 15px;

}
.advertisement button{
    padding: 10px;
    font-weight: 600;
    border-radius: 5px;
    border: none;
}
.advertisement button:hover{
    cursor: pointer;
    background-color: #a79f9f;
    color: #fff;
}
.shop-shoes a{
    text-decoration: none;

}
.shop-shoes{
    width: 300px;
    
    height: 300px;  
    background-color: #ECEFF1;
    box-shadow: 0px 2px 3px rgba(203, 190, 190, 0.3); /* đổ bóng xám nhẹ */
}
.shop-shoes:hover{
    border: 0.4px solid #000000;
    cursor: pointer;
}
.shop-shoes a img{
    width: 200px;
    height: 200px;
}
.content{
    display: flex;
    font-size: 14px;
    gap: 2px;
    margin-top: 50px;
    margin-left: 20px;
}
.mini-icon{
    color: red;
    padding: 5px;
    background-color: #fff;
    font-weight: 700;

}
.shop-icon{
    padding: 5px;
    background-color: #fff;
    color: #000000;
    font-weight: 700;

}

.banner-slide{
    overflow: hidden;
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

.list-banner{
   display: flex;
   animation: slide 10s infinite ;

}
@keyframes slide {
    0% { transform: translateX(0); }
    25% { transform: translateX(-100%); }
    50% { transform: translateX(-200%); }
    100% { transform: translateX(0); }
  }
.list-banner img{
    width: 100%;
}
.title-shoe{
    padding: 50px;
    font-size: 20px;
}
.title-shoemen{
    text-align: left;   
    font-size: 18px;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #000000;
    color: #fff;
    width: 30%;
}
.news-shoe{
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    justify-content: center;
}

.news-shoe button:hover{
    background-color: #fff;
    color: #000000;
}
.slide-product{
    position: relative;
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    margin-bottom: 100px;
}
.product-man{
    display: flex;
    gap: 1px;
    transform: translateX();
    transition: all 0.2s ease;
}
.products{
    flex: 0 0 25%;
    background-color: #fff;
} 
.products:hover{
    border: 0.4px solid #000000;
    
}
.picture-shoe{
    width: 100%;
}

.name-shoe{
    font-weight: 700;
    color: #000000;
    padding: 5px;
}
.price-shoe{
    padding: 5px;
}
.news-shoe button{
    background-color: #000000;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    cursor: pointer;
}
.fa-arrow-circle-left, .fa-arrow-circle-right{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    cursor: pointer;
    z-index: 10;
    opacity: 0;
}
.left, .right{
    font-size: 40px;
}
.fa-arrow-circle-left{
    left: 0;
    
}
.fa-arrow-circle-right{
    right: 0;
}
.slide-product:hover .fa{
    opacity: 1;
}
.modal{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    display: none;
    align-items: center;
    justify-content: center;
}
.modal-container{
    width: 1200px;  
    background-color: #fff;
    height: 500px;
    position: relative;
}
.modal-header{
    background-color: #000000;
    min-height: 60px;
    color: #fff;
    text-align: left;
    font-size: 20px;
    font-weight: 700;
    line-height: 60px;
    padding-left: 40px;
}
.modal-header i{
    margin-right: 5px;
}
.modal-close{
    width: 100px;
    position: absolute;
    top: 13px;
    right: 0;
}
.modal-close i{
    color: #fff;
    font-size: 30px;
}
.modal-close i:hover{
    opacity: 0.6;
    cursor: pointer;
}
.modal-body{
    display: flex;
    justify-content: space-evenly;
}
.modal-body-left{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    margin-top: 40px;
}
.modal-body-left img{
    width: 70%;
    border-radius: 5px;
}
.modal-body-left{
    font-size: 20px;
    font-weight: 500;
}
.modal-body-right{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.size-shoe, .color-shoe, .count{
    display: flex;
    gap: 40px;
    font-size: 20px;
}
.size-shoe button{
    background-color: #fff;
}
.size-shoe button:hover{
    background-color: #000000;
    color: #fff;
    cursor: pointer;
}
.color-shoe button{
    padding: 10px;
}
.color-shoe button:hover{
    cursor: pointer;

}
.count input{
    padding: 5px;
    outline: none;
}
.modal-footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #000000;
    color: #fff;
    display: flex;
    text-align: right;
    flex-direction: column ;
    justify-content: center;
    gap: 3px;
    padding-right: 5px;
}
.cost{
    display: flex;
    justify-content: flex-end;
}
.buy button{
    font-weight: 700;
    border: none;
    padding: 5px;
    margin-left: 10px;
}
.buy button:hover{
    border: 1px solid #fff;
    background-color: #000000;
    color: #fff;
    cursor: pointer;
}
.modal.open{
    display: flex;
}
.finish-product{
    display: flex;
    justify-content: right;
    gap: 10px;
}
.size-option.active,
.color-option.active {
  transform: scale(1.1);
  background-color: #000;
  color: #fff;
}

.footer{
    background: #000;
    color: #fff;
}

.footer-top{
    padding: 20px;
    text-align: center;
}
.footer-top img{
    width: 10%;
}
.footer-content{
    display: flex;
    padding: 40px 100px;
    border-top: 1px solid #444;  
}
.footer-content .col{
    flex: 1;
}
.footer-content .col h3{
    font-size: 16px;
    margin-bottom: 15px;
}
.footer-content .col a{
    display: block;
    color: #fff;
    text-decoration: none;
    margin: 10px 0;
    font-size: 14px;
    padding: 5px;
}
.footer-bottom a:hover,
.footer-content .col a:hover{
    text-decoration: underline;
}

.footer-bottom {
    border-top: 1px solid #444;
    text-align: center;
    padding: 15px 5px;
}
.footer-bottom a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
    font-size: 14px;
}
.footer-bottom p {
    display: block;
    margin-top: 10px;
}