body{
    margin: 0;
    padding: 0;
    height: 1000px;
    font-family: Arial, Helvetica, sans-serif;
    
}

header{
    background-color: rgba(45, 45, 176, 0.858);
    color: white;
    /* padding: 20px 0; */
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999;
    
}

.header-container {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-container h1 {
  font-size: 28px;
}

.header-links {
  list-style: none;
  display: flex;
  align-items: center;

}

.header-links .nav-bar  {
  color: white;
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
}

.header-links li :hover {
  color: rgb(88, 204, 217);
}

.nav-bar{
  position: relative;
  z-index: 0;
}
.nav-bar::after{
  content: '';
  position: absolute;
  width: 0;
  height: 3px;
  top: 16px;
  left: 0;
  background-color: #fff;
  transition: 500ms ease-in-out;
  z-index: -1;
  border-radius: 2px;
}
.nav-bar:hover::after{
  width: 100%;
}
.login{
  padding: 8px 10px;
  background-color: #fff; 
  text-decoration: none;
  color: #000;
  font-weight: 600;
  border-radius: 10px;
  margin-left: 20px;
}
.login:hover{
  opacity: 0.8;
}
main{
  margin-top: 70px;
}
.img-banner{
  position: relative;
  width: 100%;
}
.img-banner img{
  width: 100%;
  height: 500px;
}
.banner-title{
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
}
.banner-title h2{
  font-size: 50px;
}
.banner-title p{
  font-size: 20px;
  font-weight: 600;
}
.banner-title {
  animation: fade 1.2s ease-in-out;
}

@keyframes fade {
  from { opacity: 0; transform: translate(-50%, -40%); }
  to   { opacity: 1; transform: translate(-50%, -50%); }
}



