* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    justify-content: center;
    align-items: center;
}
.top-header {
    background: #21cff2;
    padding: 15px 0;
    color: white;
}
.nav-container {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu-left a {
    color: white;
    margin-right: 20px;
    text-decoration: none;
    font-size: 16px;
}
.menu-right a {
    color: white;
    margin-right: 20px;
    text-decoration: none;
    font-size: 16px;
}
.menu-right .btn {
    padding: 6px 14px;
    border-radius: 5px;
    background: #3498db;
}
.menu-right .login-btn {
    background: #e67e22;
}
.banner {
    background: #49cae4;
    padding: 70px 20px;
    text-align: center;
    color: white;
}
.banner h1 {
    font-size: 42px;
    margin-bottom: 10px;
}
.banner p {
    font-size: 18px;
}
main {
    width: 90%;
    margin: 40px auto;
}
.categories h2 {
    margin-bottom: 20px;
}
.category-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 20px;
}
.category-item {
    background: white;
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
    transition: 0.25s;
}
.category-item img {
    width: 100%;
    height: 220px;
}
.category-item:hover {
    transform: translateY(-6px);
}
footer {
    background: rgba(0, 0, 0, 0.799);
    color: #ddd;
    text-align: center;
}
.footer-container {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.footer-left .name {
    font-weight: 800;
    font-size: 20px;
    display: block;
    margin-bottom: 5px;
}
h3 {
    margin-bottom: 10px;
    font-size: 18px;
}
.column ul {
    list-style: none;
    padding: 0;
}
.colum ul li {
    margin-bottom: 8px;
}
.social-icon img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
.book-container {
  display: flex;
  gap: 20px;
  padding: 20px;
}
.search-bar {
  flex: 1;
  max-width: 300px; 
  background-color: #f5f5f5;
  padding: 15px;
  border-radius: 8px;
}
.category-group select{
  width: 100%;
  margin-bottom: 10px;
  padding: 10px 12px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.category-group select option{
  color: #333;
  background-color: #fff; 
  font-size: 18px;
}
.search-input{
  width: 90%;
  margin-bottom: 10px;
  padding: 10px 12px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.button-group button {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px 12px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #21cff2;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}
.button-group button:hover{
    background-color: #0077cc;
}
.book-list-container {
  flex: 3;
}
.book-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 20px;
}
.book-item {
  background-color: #fff;
  border: 1px solid #eee;
  border-radius: 5px;
  overflow: hidden;
  text-align: center;
  transition: transform 0.2s;
}
.book-item:hover {
  transform: translateY(-5px);
}
.book-cover img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.book-title a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}
.book-author {
  color: #666;
  font-size: 0.9em;
}
.cover-box img {
    width: 250px;
    border-radius: 12px;
}
.title {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
}
.author {
    font-size: 18px;
    margin-bottom: 15px;
}
.author a {
    color: #0077cc;
    text-decoration: none;
}
.meta {
    margin-bottom: 20px;
}
.meta-item {
    margin-bottom: 6px;
    font-size: 16px;
    color: #444;
}
.book-description-section {
    margin-top: 50px;
}
.book-description-section h2 {
    font-size: 26px;
    margin-bottom: 15px;
}
.description-content p {
    margin-bottom: 18px;
    font-size: 17px;
    color: #333;
}
.profile-layout {
    display: grid;
    grid-template-columns: 400px 1fr;
    margin: 40px 0;
    margin-bottom: 300px;
}
.profile-left {
    padding: 20px;
    border-radius: 25px;
}
h2 {
    margin-bottom: 20px;
    font-size: 22px;
}
.form .group {
    margin-bottom: 20px;
}
.form label {
    display: block;
    margin-bottom: 6px;
    font-weight: bold;
    color: #333;
}
.edit-btn {
    background: #ebd61f;
    color: white;
    padding: 12px 25px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
}
.profile-right {
    padding: 25px;
    border-radius: 20px;
}